{{/* For Users's overwrite */}}
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1818758598875365"
  crossorigin="anonymous"
></script>

<script
  async
  src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
></script>
<script>
  window.googletag = window.googletag || { cmd: [] };
  googletag.cmd.push(function () {
    googletag
      .defineSlot("/21350241/MR001", [300, 250], "div-gpt-ad-1713875585287-0")
      .addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
